absl-py==2.3.1
annotated-types==0.7.0
asgiref==3.11.0
attrs==25.4.0
b2sdk==2.10.2
boto3==1.42.32
botocore==1.42.32
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
Django==5.2.10
django-cors-headers==4.9.0
django-filter==25.2
django-tenants==3.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
docopt==0.6.2
drf-spectacular==0.29.0
et_xmlfile==2.0.0
googlemaps==4.10.0
gunicorn==24.0.0
h11==0.16.0
idna==3.11
immutabledict==4.2.2
inflection==0.5.1
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
logfury==1.0.1
num2words==0.5.14
numpy==2.2.6
openpyxl==3.1.5
ortools==9.15.6755
packaging==26.0
pandas==2.2.3
pillow==12.1.0
protobuf==6.33.4
psycopg2-binary==2.9.11
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
reportlab==4.4.9
requests==2.32.5
rpds-py==0.30.0
s3transfer==0.16.0
shapely==2.1.2
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.40.0
